* {
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

.wrapper {
    width: 1020px;
    margin: auto;
    box-sizing: border-box;
}

.quote {
    background-color: #f06c64;
    padding: 68px 40px 17px 40px;
}

.quote__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    padding-bottom: 27px;
}

.quote__text {
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
    padding-bottom: 47px;
    text-align: justify;
}

.forms {
    display: flex;
    justify-content: space-between;
}

.inputs {
    display: flex;
    flex-direction: column;
    flex-basis: 66%;
}
.input_row {
    flex-basis: 1em;
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
    line-height: 36.5px;
    margin-bottom: 16px;
    font-size: 12px;
    text-indent: 14px;
    color: #f0d8d9;
    outline: none;
}

.input_area {
    flex-basis: 1em;
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
    line-height: 36.5px;
    margin-bottom: 15.5px;
    font-size: 12px;
    height: 195px;
    resize: none;
    width: 618px;
    padding-top: 6px;
    text-indent: 14px;
    color: #f0d8d9;  
    outline: none;
    
}

.input_row::placeholder {
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
    text-indent: 14px;
    font-size: 12px;
}

.input_area::placeholder {
    line-height: 22px;
    color: #f48c8f;
    font-weight: 400;
    text-indent: 14px;
    font-size: 12px;
}

.input__button {
    width: 80px;
    height: 30px;
    border: 1px solid #f48c8f;
    background-color: #d6564f; 
    border-radius: 5px;
    color: #f0d8d9;
    
}

.input__button:hover {
    cursor: pointer;
    border: 2px solid #f0d8d9;
    font-weight: 900;
}

.contacts {
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-weight: 900;
    padding-bottom: 9px;
}

.contacts__text {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: justify;
    padding-bottom: 16px;
    letter-spacing: -0.012px;
    word-wrap: break-word; 
}



.contacts__channel {
    display: flex;
    /* flex-direction: row; */
    margin: 7px 0;
}

.contacts__details {
    font-size: 12px;
    /* line-height: 22px; */
    color: #f0d8d9;
    font-weight: 400;
}

.contacts__ico {
    display: flex;
    width: 15px;
    align-content: center;
    justify-content: center;
    margin: 1px 9px 0 0;
}

.quote__bottom  {
    height: 6px;
    background-color: #ea676b;
}

.footer {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    padding: 0 40px 0 42px;;
}

.footer__socialmedia {
    display: flex;
}

.footer__ico {
    margin: 2px 0 0 8px;
}


