* {
padding: 0;
margin: 0;
font-family: "Lato";
}

.wrapper {
    width: 1020px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 40px;
}

h1 {
    height: 1px;
    width: 1px;
    color: #2d3a34;
}

.header {
    display: flex;
    height: 89px;
    background-color: #2d3a34;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;  
}

.colored {
    color: #f06c64;
}

.navigation {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 21px;
}

nav {
    display: flex;
}

.bullet {
    flex-basis: 1;
    padding: 0 12.5px;
    color: #788ee49c;
    font-weight: 700;
    font-size: 8px;
    vertical-align: sub;
}

.navigation__item {
    font-size: 12px;
    color: #ffffff;
    font-weight: 700;
    vertical-align: sub;
    align-items: flex-end;
}

a {
    text-decoration: none;
}

.navigation__item:hover {
    color: #f06c64;
}

.header_bottom {
    height: 6px;
    background-color: #323746;
}

.slider {
    background-color: #f06c64;
    height: 594px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chev_r {
    transform: scale(-1,1);
}

.chev:hover {
    -webkit-filter: brightness(10%);
    filter: brightness(10%);
}

.phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
    
}

.slider_bottom {
    height: 6px;
    background-color: #ea676b;
}

.services {
    height: 495px;
    background-color: #f2f2f2;
}

.our_services {
    padding: 68px 0 0 0;
}

h2 {
    font-size: 29px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.4px;
}

.our_services_text {
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    padding: 27px 0 45px 0;
}

.services_description {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; 
}

.services_item {
    display: flex;
    justify-content: space-between;
}

.ico {
    padding-top: 4px;
    padding-right: 3px;
}

.service_type {
    flex-basis: 222px; 
}

.service_title {
    font-size: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.1px;
  
}

.service_text {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    padding: 9px 0 0 0;
    letter-spacing: 0.4px;
    text-align: justify;
    letter-spacing: -0.2px;
    height: 65px;
    overflow: hidden;
}

.services_bottom {
    height: 6px;
    background-color: #ffffff;
}
