* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display_none {
    display: none !important
}

@font-face {
    font-family: "Lato-300";
    src:url("./assets/fonts/Lato-300.ttf")
}

@font-face {
    font-family: "Lato-400";
    src:url("./assets/fonts/Lato-400.ttf")
}

@font-face {
    font-family: "Lato-700";
    src:url("./assets/fonts/Lato-700.ttf")
}

@font-face {
    font-family: "Lato-900";
    src:url("./assets/fonts/Lato-900.ttf")
}

html {
    width: 1020px;
    margin: auto;
    font-size: 10px;
    scroll-behavior: smooth;
    transition: ease;
}

h1 {
    color: #2d3a34;
    position: absolute;
    top: 0;
    font-size: 5px;
}

.header {
    padding: 0 40px 0 40px;  
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    width: 1020px;
}
  
.navigation {
    height: 21px;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    line-height: 2.45rem;
    list-style: none;
    vertical-align: sub;
}

.navigation__item {
    vertical-align: sub;
    color: #ffffff;
    letter-spacing: -0.2px;
    text-decoration:none;
    font-family: "Lato-700";
    font-size: 1.2rem;

}

li:first-child:before {
    content: none;
}

li:before {
    content: "*";
    color: #656b86;
    font-size: 0.6rem;
    line-height: 5px;
    margin: 0 13.5px;
    vertical-align: sub;
}
 
.navigation__item:hover {
    color: #f06c64;
    transition: 0.3s;
    transition-timing-function: ease-out; 
} 

.navigation__item.active {
    color: #f06c64;
    transition: 0.3s;
    transition-timing-function: ease-out;
}
    
/* SLIDER WITH MOBILE PHONES */

.slider {
    background-color: #f06c64;
    height: 695px;
    border-bottom: 6px solid #ea676b;
    padding: 95px 40px 0 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.chev {
    padding-bottom: 4px;
}

.chev_right {
    transform: scale(-1,1);
}

.chev:hover {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: ease-out;
}
    
.phones {
    background-image: url("./assets/slider_phones.png");
    width: 797px;
    height: 483px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

#PHONE_VERTICAL_WRAPPER {
    width: 215px;
    height: 459px;
    border-radius: 30px;
    /* margin-top: 3px; */
    /* margin-left: 4px; */
    /* background-color: chartreuse; */
}

#PHONE_VERTICAL_SCREEN {
    width: 189px;
    height: 334px;
    background-image: url("./assets/phone_vertical_screen.svg");
    margin-top: 64.5px;
    margin-left: 13.5px;
    border-radius: 1px;
    background-position: 3.5% 54.5%;
}

#PHONE_HORIZONTAL_WRAPPER {
    width: 460px;
    height: 216px;
    border-radius: 30px;
    margin-top: 120.5px;
    margin-left: 97px;
    /* background-color: chartreuse; */
}

#PHONE_HORIZONTAL_SCREEN {
    width: 333px;
    height: 189px;
    background-image: url("./assets/phone_horizontal_screen.svg");
    margin-top: 14px;
    margin-left: 61px;
    border-radius: 1px;
    background-position: 50.5% 30.3%;
}

/* SERVICES */
    
.services {
    scroll-margin-top: 95px;
    height: 500px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    padding: 59px 40px 5px 40px;
}

.services__header {
    font-size: 3rem;
    color: #666d89;
    font-family: "Lato-900";
    letter-spacing: -0.2px;
}    

.services__introduction {
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato-300";
    margin: 18px 0 43px 0;
    text-align: justify;
    overflow: hidden;
    height: 60px;
}    

.services__description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 1px;
}

.services__type {
    flex-basis: 31.9%;
    display: flex;
    justify-content: justify;
    margin-bottom: 29px;
}

.service__details {
    display: flex;
    flex-direction: column;
    width: 219.28px;
}    

.service__ico {
    padding: 4px 20px 0 0;
}

.service__title {
    font-size: 1.8rem;
    color: #666d89;
    font-family: "Lato-900";
    letter-spacing: -0.1px;  
}

.pixel-perfect-love-so-much_service_title {
    text-indent: 1.5px;
}

.service__text {
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #767e9e;
    font-family: "Lato-400";
    padding-top: 9px;
    text-align: justify;
    letter-spacing: -0.11px;
    overflow: hidden;
    height: 72px;
}    

/* PORTFOLIO */

.portfolio {
    scroll-margin-top: 95px;
    height: 869px;
    background-color: #2d303a;
    padding: 59px 40px 0 40px;
    border-bottom: 6px solid #323746;
}
    
.protfolio__title {
    font-size: 3rem;
    color: #666d89;
    font-family: "Lato-900";
    letter-spacing: -0.2px;
}

.portfolio__text {
    font-size: 1.8rem;
    color: #767e9e;
    font-family: "Lato-300";
    padding: 22px 0 15px 0;
}

.portfolio__navigation {
    padding: 0 0 1px 1px;
}
    
.portfolio__button {
    border: 1px solid #767e9e;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #767e9e;
    font-family: "Lato-400";
    background-color: #2d303a;
    margin-right: 7.5px;
}
    
.portfolio__button:first-child {
    padding: 0px 6.5px 0 6.5px;
}

.portfolio__button:nth-child(2) {
    padding: 0px 5.5px 0 6.5px;
}

.portfolio__button:nth-child(3) {
    padding: 0px 5px 0 6px;
}

.portfolio__button:nth-child(4) {
    padding: 0px 5px 0 6px;
}
    
.portfolio__button:hover {
    border: 1px solid white;
    color: white;
    transition: 0.3s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.portfolio__button.active {
    border: 1px solid white;
    color: white;
    transition: 0.3s;
    transition-timing-function: ease-out;
    cursor: pointer;
    outline: none;
}
    
.portfolio__images {
    /* display: flex;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px 20px;
    padding-top: 8px;
    overflow: hidden;
    height: 621px;
    margin-top: 10px;
}
    
.portfolio__image {
    height: 187px;
    width: 220px;
}

.portfolio__image.active {
    border: 5px solid #F06C64;
}

/* ABOUT US */

.about-us {
    scroll-margin-top: 95px;
    transition: 500ms;
    background-color: #f2f2f2;
    height: 734px;
    padding: 68px 38px 0 39px;
    border-bottom: 6px solid #ffffff;
}
    
.about-us__title {
    font-size: 3rem;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-900";
    padding-bottom: 27px;
    letter-spacing: -0.1px;
    padding-left: 1px;
}
    
.about-us__text {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #767e9e;
    font-family: "Lato-300";
    text-align: justify;
    padding: 0 1px 45px 1px;
}
    
.employees {
    display: flex;
    justify-content: space-between;
}
    
.employee {
    flex-basis: 32%;
}
    
.employee__name {
    font-size: 1.8rem;
    color: #666d89;
    font-family: "Lato-900";
    padding: 13px 0 8px 0;
    letter-spacing: -0.15px;
    overflow: hidden;
    width: 301px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
    
.employee__text {
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #767e9e;
    font-family: "Lato-400";
    text-align: justify;
    letter-spacing: -0.045px;
    width: 301.75px;
    overflow: hidden;
    height: 42px;
}
    
.employee__contacts {
    display: flex;
}
    
.pixel-perfect-love-so-much_employee__contacts_1 {
    padding-left: 2px;
}

.pixel-perfect-love-so-much_employee__contacts_2 {
    padding-left: 1px;
}
    
.employee__contacts > div {
    margin: 24px 8px 9px 0;
}
    
.employee__contacts > div:hover {
    -webkit-filter: brightness(20%);
    filter: brightness(20%);
    cursor: pointer;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

/* QUOTE   */

.quote {
    scroll-margin-top: 95px;
    background-color: #f06c64;
    padding: 68px 40px 21px 40px;
    border-bottom: 6px solid #ea676b;
}

.quote__title {
    font-size: 3rem;
    line-height: 1.8rem;
    color: #f0d8d9;
    font-family: "Lato-900";
    letter-spacing: -0.2px;
    text-indent: 1px;
}
    
.quote__text {
    line-height: 3rem;
    font-size: 1.8rem;
    color: #f0d8d9;
    font-family: "Lato-300";
    padding: 27px 0 44px 0;
    text-align: justify;
}
/* 
#CONTACT {
    scroll-margin-top: 95px;
    height: 1px;
    margin-bottom: 23px;
} */

/* INPUT FORMS & CONTACTS */

.inputs-and-contacts {
    display: flex;
    justify-content: space-between;
}
    
.inputs {
    scroll-margin-top: 110px;
    display: flex;
    flex-direction: column;
    flex-basis: 65.9%;
}

.input__row {
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
    line-height: 3.65rem;
    margin-bottom: 16px;
    font-family: "Lato-400";
    font-size: 1.2rem;
    text-indent: 14px;
    color: #f1bec0;
    outline: none;
}

.input__row:invalid:not(:placeholder-shown) {
    border: 1px solid rgb(250, 59, 59);
}
    
.input__textarea {
    background-color: #d6564f;
    border: 1px solid #d6564f;
    border-radius: 5px;
    line-height: 1.8rem;
    margin-bottom: 15.5px;
    font-size: 1.2rem;
    font-family: "Lato-400";
    height: 202px;
    resize: none;
    color: #f1bec0;  
    outline: none;
    overflow: hidden;
    padding: 5px 14px 12px 14px;

}
    
.input__row::placeholder {
    color: #f48c8f;
    font-weight: 400;
    text-indent: 14px;
    font-size: 1.2rem;
    font-family: "Lato-400";
    padding-top: 5px;
}

.input__row::-ms-input-placeholder {
    color: #f48c8f;
}
    
.input__textarea::placeholder {
    color: #f48c8f;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "Lato-400";
    padding-top: 3px;
}

.input__textarea::-ms-input-placeholder {
    color: #f48c8f;
}

#INPUT_BUTTON {
    width: 80px;
    height: 30px;
    border: 1px solid #f48c8f;
    background-color: #f48c8f; 
    border-radius: 5px;
    color: #d6564f;
}
    
#INPUT_BUTTON:hover {
    cursor: pointer;
    border: 1px solid #f0d8d9;
    color: #f0d8d9;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

#MESSAGE_BLOCK {
    /* display: block; */
    width: 100vw;
    height: 600vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 15;
}

#MESSAGE {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    min-height: 200px;
    max-height: 500px;
    /* position: relative; */
    /* top: 85%;
    left: 30%; */
    background-color: #f2f2f2;
    border: 3px solid #2d303a;
    border-radius: 5px;
    /* color: #d6564f; */

    position: absolute;
    /* top: 0; */
    left: 30%;
    z-index: 16;
}

.message_sent_title {
    font-family: "Cuprum";
    font-size: 2.5rem;
    font-weight: 700;
    padding: 10px 0;
    color: #2d303a; 
}

.message_sent_subject {
    margin: 5px 0;
    color: #2d303a;
    font-size: 1.5rem;
    padding: 0 10px;
}

.message_sent_description {
    margin: 5px 0;
    color: #2d303a;
    font-size: 1.5rem;
    padding: 0 10px;
    max-height: 200px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_sent_button {
     padding: 10px 0;
}

#MESSAGE_BUTTON {
    width: 40px;
    height: 30px;
    border: 1px solid #2d303a;
    border-radius: 2px;
    color: #2d303a;
    font-family: "Lato-700";
    font-size: 1.2rem;
   
}
#MESSAGE_BUTTON:hover {
   cursor: pointer;
}

/* CONTACTS */

.contacts {
    flex-basis: 31.95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    
.contacts__title {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #f0d8d9;
    font-family: "Lato-900";
    padding-bottom: 9px;
    letter-spacing: -0.1px;
    text-indent: 1px;
}
    
.contacts__text {
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #f0d8d9;
    font-family: "Lato-400";
    text-align: justify;
    padding-bottom: 24px;
    letter-spacing: -0.1px;
    word-wrap: break-word; 
}
    
.contacts__channel {
    display: flex; 
   
} 

.contacts__location {
     margin-bottom: 6px; 
}

.contacts__tel {
    margin-bottom: 7px; 
} 

    
.contacts__details {
    font-size: 1.2rem;
    color: #f0d8d9;
    font-family: "Lato-400";
}

.contacts__details > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #f0d8d9;
    font-family: "Lato-400";
}

.contacts__details > a:hover {
    text-decoration: underline;
}

.contacts__ico {
    display: flex;
    width: 15px;
    align-content: center;
    justify-content: center;
    margin: 1px 9px 0 0;
}

.pixel-perfect-love-so-much_contacts_mail {
    padding-top: 1px;
}

/* FOOTER */

.footer {
    height: 76px;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 42px;
}

.footer__copyright {
    font-family: "Lato-400";
    color: #656d89;
    font-size: 1.2rem;
    letter-spacing: -0.15px;
}

.footer__contacts {
    display: flex;
}

.footer__contacts_ico {
    margin: 2px 0 0 8px;
}

.footer__contacts_ico:hover {
-webkit-filter: brightness(200%);
filter: brightness(200%);
cursor: pointer;
transition: 0.3s;
transition-timing-function: ease-out;
}

